ignore/
ignore_old/
data_v1.2/
llama.cpp/
output/
output_old/
scripts_old/
src_old/
data_v1.4/
log*
!log.h
.ipynb_checkpoints/
openai.txt
expts_ignore/
.ipynb_checkpoints
**/__pycache__/
.ipynb_checkpoints
__pycache__
data/mt_bench/
__pycache__/*
src/data/__pycache__/data_loader.cpython-310.pyc
src/data/__pycache__/data_loader.cpython-39.pyc
src/evaluation/__pycache__/eval.cpython-310.pyc
src/evaluation/__pycache__/eval.cpython-39.pyc
src/evaluation/__pycache__/metrics.cpython-39.pyc
src/evaluation/__pycache__/utils.cpython-310.pyc
src/evaluation/__pycache__/utils.cpython-39.pyc
src/models/__pycache__/model_wrapper.cpython-39.pyc
src/models/__pycache__/mt_bench_convo.cpython-310.pyc

