pandas
sqlparse
levenshtein
rouge-score
datasets
conda install -c "nvidia/label/cuda-11.8.0" cuda-toolkit cuda-nvcc -y --copy
CMAKE_ARGS="-DLLAMA_CUBLAS=on" FORCE_CMAKE=1 pip install --upgrade --force-reinstall llama-cpp-python --no-cache-dir
shortuuid
alpaca-eval
export OPENAI_API_KEY=
pip install -e ".[model_worker,llm_judge]"
